*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(46,183,235)
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
.alineacion-derecha{
    text-align: right;
}
.alineacion-centro{
    text-align: center;
}
.alineacion-izquierda{
    text-align: left;
}
.alineacion-justificada{
    text-align: justify;
}
p{
    font-size: 1.5em;

}
.texto-indentado{
    text-indent: 2em;
    text-align: justify;
}
.texto-enfatizado{
    font-size: 3em;
    font-style: italic;
line-height: 1.5em;
}
blockquote{
    font-style: italic;
    font-size: 1.4em;
    color:rgb(73, 176, 236);
    text-align: right;
}