* {
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("../img/login1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 95vh;
}
body {
    background-image: url("../img/backgraund1280x720.jpg");
   /*  width: 100%;
    height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
}