
.color-MediumSlateBlue{
    color:MediumSlateBlue;
}
.color-wish{
  color: rgb(46,183,235);
}
.color-i {
color: rgb(246,185,28)
}
.color-n {
  color: rgb(243,125,0)
    }
.color-s {
      color: rgb(239,93,8)
        }
.color-t {
      color: rgb(237,48,0)
        }
.color-as {
          color: rgb(237,36,3)
            }
.color-g {
              color: rgb(228,0,0)
                }
.color-r {
                  color: rgb(214,0,63)
                    }
.color-a {
                      color: rgb(199,0,110)
                        }
.color-m {
                          color: rgb(180,0,167)
                            }
.color-teal{
color: #008080
}

