*{
    margin: 0;
    padding: 0;
}
nav{
  background-color: rgb(46,183,235)
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
.main_box1{
    margin: 0 auto;
    display:  block;
    padding: 10px;
    width: 200px;
}
.main_box2{
    margin: 0 auto;
    display:  block;
    padding: 10px;
    width: 444px;
}
.main_box3{
    margin: 0 auto;
    display:  block;
    padding: 10px;
    width: 668px;
}
.box1, .box2, .box3{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 9%;   
 }
 .box1{
     background-image: linear-gradient(black,mediumblue,blue,deepskyblue);
     box-shadow: 5px 5px 15px midnightblue;
 }
 .box2{
     background-image: linear-gradient(black,darkviolet,blueviolet,violet);
     box-shadow: 5px 5px 15px darkviolet;
 }
 .box3{
     background-image: linear-gradient(black,deeppink,palevioletred,pink);
     box-shadow: 5px 5px 15px deeppink;
 }