*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(46,183,235)
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
fieldset{
    width: 40%;
    height: 800px;
    display: block;
    margin: 0 auto;
   border-radius: 10px;
   background-color:mediumblue;
   color: azure;
  border: 1px solid mediumblue;
  font-size: 1.3em;
  line-height: 1.8em;
}
input{
    font-size: 1em;
    text-align: center;
}
.formulario{
 width: 70%;
 margin: 0 auto;
}