p.Sice1{
    font-size:.75em; 
}
p.Size2{
    font-size: 1.5em;
}
.fuente-normal{
  font-weight:400;
}
.fuente-negrita{
font-weight:bold;
}
.estilo-italico{
    font-style: italic;
}
.estilo-normal{
    font-style: normal;
}
.fuente-cursiva{
     font-family: 'Dancing Script', cursive;
     font-size: 1.5em;
 }
 span.font-crazy{
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    color: yellowgreen;
}
.espaciado-letras{
    letter-spacing:0.3em;
    }
    .espaciado-palabras{
    word-spacing: 1.5em;
    }
    .espaciado-lineas{
    line-height: 3em;
    }
 .font-caveat{
     font-family:'Caveat';
 }
     /* caveat-regular - latin */
    @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caveat-v10-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
     url('../fonts/caveat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/caveat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('../fonts/caveat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
     url('../fonts/caveat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('../fonts/caveat-v10-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}