h1 {
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 400px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 800px;
    width: 90%;
    max-width: 1000px;
    border: 7px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
}
/*contenedores hijos*/
.contenedor > div {
    background-color: #2f89fc;
    color: white;
    display: block;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(0,0,0,.25);
}