h1{
    text-align: center;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
    /* alineacion horizontal  */
    /*justify-items: end; */
    /* justify-items: start; */
/*     justify-items: center; */
justify-items: stretch;  
    /*alineacion vertical */
    /* align-items: start; */
    align-content: center;
}
.contenedor div{
    display: flex;

    padding: 20px;
    color: white;
    background: rgb(103, 103, 255);
    justify-content: center;
    align-items: center;
}
.contenedor .nombre-dia{
    background: gray;
}
.primer-dia{
    grid-column-start: 4;
    grid-column-end: 5;
}
.contenedor .nombre-mes{
    grid-column-start: 1;
    grid-column-end: 8;
    background: white;
    color: teal;
    font-style: italic;
    font-size: 1.8em;
}