h1 {
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    border: 3px solid black;
    margin: 0 auto;
    font-size: 1.8em;
  
    /* alineacion horizontal */
    /* justify-items: start; */
    /* justify-items: end; */
    justify-items: stretch;
/*     justify-items: stretch; */

    /* alineacion vertical */
  /*   align-items: start; */
  align-items: center;
} 
/*contenedores hijos*/
.contenedor > div {
    display: flex;
   border: 2px solid black;
    color: black;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(0,0,0,.25);
    justify-content: center;
    align-items: center;
}
.contenedor .nombre-dia {
    background: aqua;
}
.primer_dia {
    grid-column-start: 4;
    grid-column-end: 5;
}
.nombre_mes {
    grid-column-start: 1;
    grid-column-end: 8;
    font-size: 1.8em;
    font-style: italic;
}