*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(92, 163, 221)
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.content-main{
    margin: 3em;
}