*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(46,183,235);
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 70px;
    height: 100hv;
    overflow: scroll;
}
ul{
    list-style: none;
    display: block;
    font-size: 1.3em;
background-color: rgb(46,183,235);

}
li{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    display: block;
}
a{

}
a:hover{ 
    padding: 15px;
    text-decoration: none;
    color: antiquewhite;
    display: block;
    border-bottom: 1px ;
}

p{
    font-size: 1.3em;
}
h1{
    text-align: center;
/*     margin-top: 30px; */
    margin-bottom: 25px;
}
.content-main{
    margin-left: 3em;
}
.menu-box{
    position: fixed;
    top:0;
    width:160px;
    padding-left:20px;
    height:60px;
    border-bottom: 1px solid orange;
}
.menu-box-invisible {
    width:160px;
    margin-left: 20px;
    visibility: hidden;
    height: 60px;
}
nav.mostrarNav{
    left: 0;
}
.icon-menu{
    float: left;
    color: black;
}
