*{
    margin: 0;
    padding: 0;
}
nav{
    height: 100%;
    background-color: rgb(46,183,235);
    position: fixed;
    top: 0;
    width: 18em;
    overflow: scroll;
}
ul{
    list-style: none;
/*    margin-top: 20px; */
   flex-direction: column;
   height: 100%;
    display: flex;
    flex-direction: column;
/*     width: 210px; */
    list-style: none;
/*     margin-left: 10px; */
    font-size: 1.3em;
/*     padding: 11px; */
background-color: rgb(46,183,235);

}
li{
    padding: 15px;
    font-size: 1.3em;
    border-bottom: 1px solid   rgb(27, 164, 218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li:hover{ 
    background-color: rgb(0, 162, 226);
    cursor: pointer;

}
a{
    text-decoration: none;
    color:white;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;

}
p{
    font-size: 1.3em;
}
h1{
    text-align: center;
/*     margin-top: 30px; */
    margin-bottom: 25px;
}
.content-main{
    margin:0 1em 0 19em;
    text-align: justify;
}
.menu-box{
    position: fixed;
    top:0;
    width:160px;
    padding-left:20px;
    height:60px;
    border-bottom: 1px solid orange;
}
.menu-box-invisible {
    width:160px;
    margin-left: 20px;
    visibility: hidden;
    height: 60px;
}
nav.mostraeNav{
    left: 0;
}
.icon-menu{
    float: left;
    color: black;
}
@media only screen and(max-width: 600px) {
    .bt.menu {
        width: 120px;
        overflow-x: hidden;
    }
    h1 {
        margin-top: 60px;
    }
    .menu-box-invisible {
        margin-top: 60px;
    }
    nav {
        width: 100%;
        position: fixed;
        right: 100%;
        font-size: 1.4em;
        overflow-x: hidden;
    }
    ul {
        width: 98%;
        overflow-x: hidden;
    }
         body {
        padding-top: 70px;
    } 
    nav {
        position: fixed;
        height: calc(100% - 68px);
        width: 65%;
        left: -100%;
        overflow: auto;
    }
     .menu-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0; 
        background-color: rgb(17, 72, 253);
    
    } 
    .bt-menu {
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-bar span {
        font-size: 50px;
        float: right;
    }
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
    nav ul .children{
        position: relative;
        width: 100%;
    }
    h1{
        margin: 35px 0 35px 35px;
        text-align: center;
    }
    
      nav ul li:hover .children {
    display: none;
      
    }

     }
}
