*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(46,183,235);
    font-size: 1.3em;
    transition: all 5s;
}
ul{
   list-style: none;
   text-align: right;
    padding: 10px;
    transition: all 100s;
}
li{
    display: inline-block;
    padding: 20px;
    position: relative;
    transition: all 5s;
}
a{
    display: block;
    text-decoration: none;
    color: white;
}
li:hover .children{
    display: block;
    position: absolute;
    width: 100px;
}
.children li{
    display: block;
    background-color: rgb(35, 184, 243);
    color: black;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid black;
}
li .children{
    display: none;
    position: absolute;
    top: 101%;
}
