*{
    margin: 0;
    padding: 0;
}
nav{
    cursor: pointer;
    padding: 0;
}
ul{
   list-style: none;
   position: absolute;
   background-color: rgb(46,183,235);
   width: 100%;
   transition: all 2s;
}
a{
    display: block;
    text-decoration: none;
    color: white;  
    padding: 0 2.5em;
}
li{
    border-right: 1px solid white;
}
.children{
line-height: 3em;
display: inline-block;
position: relative;
text-align: right;
}
.subchildren{
   text-align: center;
   transition: all 1.5s;
   max-height: 0;
   background-color: rgb(15, 143, 194);
}
.children:hover .subchildren{
    display: block;
    border-bottom: 1px solid white;
    max-height: 500px;
}