*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(46,183,235);
    font-size: 1.3em;
    cursor: pointer;
}
ul{
   list-style: none;
   text-align: right;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 10px;
    position: relative;
    transition: all 3s;
}
a{
    display: block;
    text-decoration: none;
    color: white;
    transition-timing-function: ease-in-out;
}
li:hover .children{
    display: block;
    position: absolute;
    width: 100px;
}
.children li{
    display: block;
    background-color: rgb(0, 225, 255);
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid aqua; 
}
li .children{
    display: none;
    position: relative;
    transition: all 3s;
    top: 101%;
}
.hover{
    transition: all 5s;
}
.item{

}