*{
    margin: 0;
    padding: 0;
}
 .menu-bar{
    display: none;
}
nav {

    background: #f93800;
    width: 100%;
}
ul {
    list-style: none;
    text-align: right;
}
li {
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background: #283350;
}
nav ul li a {
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;  
} 
.children {
    position: absolute;
    display: none;
    background: #0084ff;
    text-align: left;
}

nav ul li:hover .children {
    display: block;
    width: 130%;
    text-align: left;
}
nav ul li .children li {
    display: block;
    border-bottom: 1px solid white;
}
nav ul li .children li a {
    display: block;
}
.main-content {
    margin: 30px;
}
h1 {
    margin: 35px;
    text-align: right;
    font-family: Helvetica, sans-serif;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}
.icon-chevron-small-down{
    float: right;
    position: relative;
    top: 3px;
    padding-left: 5px;
}
@media only screen and (max-width: 750px) {
     body {
        padding-top: 70px;
    } 
    nav {
        position: fixed;
        height: calc(100% - 68px);
        width: 65%;
        left: -100%;
        overflow: auto;
    }
     .menu-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0; 
        background-color: rgb(17, 72, 253);
    
    } 
    .bt-menu {
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-bar span {
        font-size: 50px;
        float: right;
    }
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
    nav ul .children{
        position: relative;
        width: 100%;
    }
    h1{
        margin: 35px 0 35px 35px;
        text-align: center;
    }
    
      nav ul li:hover .children {
    display: none;
      
    }

     }