*{
    margin: 0;
    padding: 0;
}
.menu-bar{
    display: none;
}
nav{    
    background-color: #f93800;/* #104c91 */
    width: 100%;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background-color: #283350;/* #efc9af */
}
nav ul li a{
    display: block;
    color: white;
    font-size: 1.3em;
    padding: 20px;
    text-decoration: none;
}
.children{
    position: absolute;
    display: none;
    background-color: #ffb500;/* #1f8ac0 */
    text-align: left;
}
nav ul li:hover .children{
    display: block;
    width: 130%;
    text-align: left;
}
nav ul li .children li{
    display: block;
    border-bottom: 1px solid white;
}
nav ul li .children li a{
    display: block;
}
.content{
    margin: 30px;
}
p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}
h2{
    margin: 35px;
    text-align: right;
    font-family: serif;
} 
@media only screen and (max-width: 710px) {
    body{
        padding-top: 20px;
    }
    nav{
        position: fixed;
        height: 100%;
        width: 80%;
        overflow: auto;
        margin-top: 30px;
    }
    .menu-bar{
        display: block;
        width: 100%;
        position: fixed;
        top:0;
        background-color: rgb(17, 72, 253);
    }
    .menu-bar span {
       font-size: 40px;
        float: right;
       margin-right: 20px;
    }
    .bt-menu{
        display: block;
        padding: 10px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 1px solid white;
    }
    nav ul{
        text-align: left;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid white;
        margin-top: 2px;
    }
}