*{
    margin: 0;
    padding: 0;
    background-color: black;
}
nav{
    background-color: rgb(17, 17, 17)
}
ul{
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}
li{
    align-content: flex-start;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.img_cinta{
    width: 220px;/*150px*/
    height: 330px;/*220*/
    cursor: pointer;
}.box-img-principal{
    display: block;
    display: flex;
    justify-content: right;
    width: 100%;
}
.img-principal{
    width: 750px;
}
.cinta-movies{
    margin-top: 20px;
}
.titulo{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}
.desc{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
