* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    background: rgb(25,0,140);
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.logo1 {
    margin-left: 25px;
    width: 50px;
    height: 50px;
}
.icono {
    color: white;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}
#contenido {
    background-color: rgb(243,242,246);
}

.contenedorVuelo{
    display:grid;
    margin: 20px; /*15 25 20 25*/
    background-color: white;
    border-radius: 10px;
    box-shadow:1px 1px 3px 1px rgba(96, 100, 100, 0.3) ;
    border-color: white;
    grid-template: "economico   vacio           vacio        "30px
                   "horaSalida  duracion        horaLlegada  "35px
                   "origen      duracionTiempo  destino      "30px
                   "separador   separador       separador    "5px
                   "paradas     valor           valor        "45px /
                    1fr        1fr            1fr;


}
.economico{
    grid-area: economico;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    padding: 5px;
    font-size: .95em;
    width: 150px;
    color: white;
    background-color: darkcyan;
}
.horaSalida{
    grid-area: horaSalida;
    font-size: 1.5em;
    color: rgb(27,0,136);
    margin-top: 5px;
    margin-left: 25px;
}
.duracion{
    grid-area: duracion;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.horallegada{
    grid-area: horaLlegada;
    font-size: 1.5em;
    color: rgb(27,0,136);
    margin-top: 5px;
    margin-right: 25px;
    text-align: right;
}
.origen{
    grid-area: origen;
    margin-left: 25px;
}
.duracionTiempo{
    grid-area: duracionTiempo;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.destino{
    grid-area: destino;
    margin-left: 70%;

}
.separador {
    grid-area: separador;
    margin: 0 10px;
    background-color: gray;
    font-size: .2em; 
}
.paradas{
    grid-area: paradas;
    padding-left: 20px;
    color: rgb(145, 145, 145);
}
.valor{
    grid-area: valor;
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center; 

}